page-add-ninja {

  .content_insert{
  }
  .content_insert ion-label{
    padding-left: 0;
  }
  .content_insert .list-ios .item-block:first-child{
    border-top:0;
  }

  .content_insert .item{
    padding-left: 3px;
  }

}
